pipeline/CC_CreateFileAndArchiveHaveDatName_copy1.json
{
	"name": "CC_CreateFileAndArchiveHaveDatName_copy1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata file created",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "create file dat output",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CCLocalFileMasterNotSplit",
						"type": "DatasetReference",
						"parameters": {
							"filePath": {
								"value": "@pipeline().parameters.outputPath",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.fileName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists",
						"size",
						"columnCount"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "create file output archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Metadata file created",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "COLUMN",
								"value": {
									"value": "@concat(pipeline().parameters.fileName,'|',coalesce(activity('Get Metadata file created').output?.size,'0'))",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": " SELECT 'ONE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "FileServerWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "COLUMN"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlMaster",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CCLocalFileToWrite_copy1",
						"type": "DatasetReference",
						"parameters": {
							"filePath": {
								"value": "@pipeline().parameters.outputPath",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.fileNameArchive",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "create file dat output",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "create file dat output",
						"type": "DataFlowReference",
						"parameters": {
							"scriptQuery": {
								"value": "'@{pipeline().parameters.scriptQuery}'",
								"type": "Expression"
							},
							"fileName": {
								"value": "'@{pipeline().parameters.fileName}'",
								"type": "Expression"
							},
							"filePath": {
								"value": "'@{pipeline().parameters.outputPath}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"fileName": {
				"type": "string"
			},
			"fileNameArchive": {
				"type": "string"
			},
			"scriptQuery": {
				"type": "string"
			},
			"outputPath": {
				"type": "string"
			},
			"numRow": {
				"type": "int"
			}
		},
		"annotations": []
	}
}