pipeline/CC_ChangeCatSubcatSendBillingAccoutnNoProcessAccountNoList.json
{
	"name": "CC_ChangeCatSubcatSendBillingAccoutnNoProcessAccountNoList",
	"properties": {
		"activities": [
			{
				"name": "Get Account List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT BILLING_ACCNT_NO  FROM ',pipeline().parameters.SCHEMA,'.CC_CHANGE_CAT_SUBCAT_INFO\nORDER BY BILLING_ACCNT_NO')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlMaster",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "if Account List Empty",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Account List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(activity('Get Account List').output.value)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Insert CC_CHANGE_CAT_SUBCAT process",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('INSERT INTO ',pipeline().parameters.SCHEMA,'.CC_CHANGE_CAT_SUBCAT \n    (CREATED,\n\tCREATED_BY,\n\tLAST_UPD,\n\tLAST_UPD_BY,\n\tCHANGE_TYPE,\n\tSTATUS,\n\tDESCRIPTION) OUTPUT INSERTED.CHANGE_ID VALUES (CONVERT(DATETIME2(0),'''\n\t,convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),'''),\n\t''',pipeline().parameters.CREDIT_USER,''',CONVERT(DATETIME2(0),'''\n\t,convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),'''),\n\t''',pipeline().parameters.CREDIT_USER,''',\n\t''',pipeline().parameters.CHANGE_TYPE,''',\n\t''p'',''Process send billing account number count',string(activity('Get Account List').output.count),' record'');')",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "Set changeId",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Insert CC_CHANGE_CAT_SUBCAT process",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "changeId",
								"value": {
									"value": "@string(first(first(activity('Insert CC_CHANGE_CAT_SUBCAT process').output.resultSets).rows).CHANGE_ID)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Insert CC_CHANGE_CAT_SUBCAT_HIST",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set changeId",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT BILLING_ACCNT_NO  FROM ',pipeline().parameters.SCHEMA,'.CC_CHANGE_CAT_SUBCAT_INFO\nORDER BY BILLING_ACCNT_NO')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"sink": {
												"name": "CHANGE_HIST_ID",
												"type": "Int64",
												"physicalType": "bigint"
											}
										},
										{
											"sink": {
												"name": "CREATED",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"sink": {
												"name": "CREATED_BY",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "LAST_UPD",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"sink": {
												"name": "LAST_UPD_BY",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "CHANGE_ID",
												"type": "Int64",
												"physicalType": "bigint"
											}
										},
										{
											"sink": {
												"name": "BILLING_ACCNT_ID",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "BILLING_ACCNT_NO",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "BILLING_ACCNT_NO",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "NEW_ACCNT_SUB_CAT",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "OLD_ACCNT_SUB_CAT",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "PROFILE_CHANGE_DATE",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"sink": {
												"name": "PROFILE_CHANGE_ROWID",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "MAIL_PERIOD",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 2
											}
										},
										{
											"sink": {
												"name": "SET_CL_STATUS",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "PREV_SET_CL_STATUS",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "AVAILABLE_CL",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 22
											}
										},
										{
											"sink": {
												"name": "CHANGE_REASON",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "REF_REQ_ID",
												"type": "Int64",
												"physicalType": "bigint"
											}
										},
										{
											"sink": {
												"name": "STATUS",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"sink": {
												"name": "REMARK",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "ERROR_MSG",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "REGISTER_DT",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"sink": {
												"name": "NEW_ACCNT_CAT",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "ACCNT_ID",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlMaster",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "CC_DatasetChangeCatSubcatHist",
									"type": "DatasetReference"
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "Insert CC_CHANGE_CAT_SUBCAT if Empty",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('INSERT INTO ',pipeline().parameters.SCHEMA,'.CC_CHANGE_CAT_SUBCAT \n    (CREATED,\n\tCREATED_BY,\n\tLAST_UPD,\n\tLAST_UPD_BY,\n\tCHANGE_TYPE,\n\tSTATUS,\n\tDESCRIPTION) OUTPUT INSERTED.CHANGE_ID VALUES (CONVERT(DATETIME2(0),'''\n\t,convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),'''),\n\t''',pipeline().parameters.CREDIT_USER,''',CONVERT(DATETIME2(0),'''\n\t,convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),'''),\n\t''',pipeline().parameters.CREDIT_USER,''',\n\t''',pipeline().parameters.CHANGE_TYPE,''',\n\t''S'',''Query Billing account no for change cat/sub cat data not found'');')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"outputPath": {
				"type": "string"
			},
			"prefixOutputFile": {
				"type": "string"
			},
			"fileTypeOutputFile": {
				"type": "string"
			},
			"SCHEMA": {
				"type": "string"
			},
			"CREDIT_USER": {
				"type": "string"
			},
			"CHANGE_TYPE": {
				"type": "string"
			}
		},
		"variables": {
			"changeId": {
				"type": "String"
			}
		},
		"annotations": []
	}
}