pipeline/CC_CaCreditLimitDataFatorySendAccntIdProcesLoop.json
{
	"name": "CC_CaCreditLimitDataFatorySendAccntIdProcesLoop",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.listRound",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CC_CaCreditLimitDataFatorySendAccntIdProcesFile",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Select All Ca Status O",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CC_CaCreditLimitDataFatorySendAccntIdProcesFile",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"outputPath": {
										"value": "@pipeline().parameters.outputPath",
										"type": "Expression"
									},
									"prefixOutputFile": {
										"value": "@pipeline().parameters.prefixOutputFile",
										"type": "Expression"
									},
									"fileTypeOutputFile": {
										"value": "@pipeline().parameters.fileTypeOutputFile",
										"type": "Expression"
									},
									"SCHEMA": {
										"value": "@pipeline().parameters.SCHEMA",
										"type": "Expression"
									},
									"CREDIT_USER": {
										"value": "@pipeline().parameters.CREDIT_USER",
										"type": "Expression"
									},
									"DATA_TYPE": {
										"value": "@pipeline().parameters.DATA_TYPE",
										"type": "Expression"
									},
									"count": {
										"value": "@pipeline().parameters.count",
										"type": "Expression"
									},
									"round": {
										"value": "@item()",
										"type": "Expression"
									},
									"limitPerRound": {
										"value": "@pipeline().parameters.limitPerRound",
										"type": "Expression"
									},
									"listCa": {
										"value": "@activity('Select All Ca Status O').output.value",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Select All Ca Status O",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT CA_ID FROM ',pipeline().parameters.SCHEMA,'.CC_UPDATE_CA_INFO WHERE STATUS = ''O'' ORDER BY CA_ID')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSqlMaster",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"outputPath": {
				"type": "string"
			},
			"prefixOutputFile": {
				"type": "string"
			},
			"fileTypeOutputFile": {
				"type": "string"
			},
			"SCHEMA": {
				"type": "string"
			},
			"CREDIT_USER": {
				"type": "string"
			},
			"DATA_TYPE": {
				"type": "string"
			},
			"count": {
				"type": "float"
			},
			"listRound": {
				"type": "array"
			},
			"limitPerRound": {
				"type": "string"
			}
		},
		"variables": {
			"offset": {
				"type": "String"
			},
			"scriptQuery": {
				"type": "String"
			},
			"processTime": {
				"type": "String"
			},
			"fileName": {
				"type": "String"
			},
			"fileNameArchive": {
				"type": "String"
			}
		},
		"annotations": []
	}
}