pipeline/CC_CaCreditLimitDataFatorySendAccntId.json
{
	"name": "CC_CaCreditLimitDataFatorySendAccntId",
	"properties": {
		"activities": [
			{
				"name": "Get Config Value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT VAL2,VAL5,VAL6 from ',variables('SCHEMA'),'.CC_CURRENT c WHERE c.LOV_TYPE= ''',variables('LOV_TYPE'),''' AND c.LOV_NAME = ''',variables('LOV_NAME'),''' AND c.ACTIVE_FLG =''Y''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlMaster",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get MAX_ROW AND RUN_PER_TIME_FLAG",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Config Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT CAST(NULLIF(VAL1,'''') AS NUMERIC(22,7)) AS MAX_ROW,VAL2 AS RUN_PER_TIME_FLAG\nFROM ',variables('SCHEMA'),'.CC_CURRENT c WHERE c.LOV_TYPE = ''CC_MAX_ROW'' AND c.LOV_NAME = ''RUN_GEN_CA_CL_ROW'' AND c.ACTIVE_FLG = ''Y'' ;')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlMaster",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set MaxRow",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get MAX_ROW AND RUN_PER_TIME_FLAG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "maxRow",
					"value": {
						"value": "@if(not(contains(string(activity('Get MAX_ROW AND RUN_PER_TIME_FLAG').output),'firstRow')),'',if(empty(activity('Get MAX_ROW AND RUN_PER_TIME_FLAG').output.firstRow.MAX_ROW),'',string(activity('Get MAX_ROW AND RUN_PER_TIME_FLAG').output.firstRow.MAX_ROW)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set RunPerTimeFlag",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get MAX_ROW AND RUN_PER_TIME_FLAG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileTypeOutputFile",
					"value": {
						"value": "@if(not(contains(string(activity('Get MAX_ROW AND RUN_PER_TIME_FLAG').output),'firstRow')),'',if(empty(activity('Get MAX_ROW AND RUN_PER_TIME_FLAG').output.firstRow.RUN_PER_TIME_FLAG),'',string(activity('Get MAX_ROW AND RUN_PER_TIME_FLAG').output.firstRow.RUN_PER_TIME_FLAG)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Script Update",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set RunPerTimeFlag",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set MaxRow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "scriptUpdate",
					"value": {
						"value": "@concat('UPDATE INFO \nSET INFO.STATUS = ''P''\nFROM (SELECT ',if(and(not(empty(variables('maxRow'))),equals(variables('RunPerTimeFlag'), 'Y'))\n,concat(' TOP ',variables('maxRow'))\n,''),' CA_ID FROM CREDIT_DEV.CC_UPDATE_CA_INFO WHERE STATUS = ''O'' ORDER BY CA_ID) UP\nINNER JOIN CREDIT_DEV.CC_UPDATE_CA_INFO INFO\nON UP.CA_ID = INFO.CA_ID')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"SCHEMA": {
				"type": "String",
				"defaultValue": "CREDIT_UAT"
			},
			"LOV_TYPE": {
				"type": "String",
				"defaultValue": "CC_MONITOR_MASTER"
			},
			"LOV_NAME": {
				"type": "String",
				"defaultValue": "sff_cc_ca_accnt_id_req"
			},
			"CREDIT_USER": {
				"type": "String",
				"defaultValue": "DATA_FAC_SEND_CA"
			},
			"DATA_TYPE": {
				"type": "String",
				"defaultValue": "CA_CL_SEND_CA"
			},
			"outputPath": {
				"type": "String"
			},
			"prefixOutputFile": {
				"type": "String"
			},
			"fileTypeOutputFile": {
				"type": "String"
			},
			"pipeLineProcessFileName": {
				"type": "String",
				"defaultValue": "CC_CaCreditLimitDataFatorySendAccntIdProcesFile"
			},
			"maxRow": {
				"type": "String"
			},
			"RunPerTimeFlag": {
				"type": "String"
			},
			"scriptUpdate": {
				"type": "String"
			}
		},
		"annotations": []
	}
}