pipeline/CC_DatafactorySendCreditLimit.json
{
	"name": "CC_DatafactorySendCreditLimit",
	"properties": {
		"activities": [
			{
				"name": "Get Config Value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT VAL2,VAL5,VAL6 from ',variables('SCHEMA'),'.CC_CURRENT c WHERE c.LOV_TYPE= ''',variables('LOV_TYPE'),''' AND c.LOV_NAME = ''',variables('LOV_NAME'),''' AND c.ACTIVE_FLG =''Y''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlMaster",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Configval is nul or Some Config val is Null",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Config Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(not(contains(string(activity('Get Config value').output),'firstRow')),or(or(equals(if(equals(trim(coalesce(activity('Get Config value').output.firstRow.VAL2,'')),''),null,activity('Get Config value').output.firstRow.VAL2),null),equals(if(equals(trim(coalesce(activity('Get Config value').output.firstRow.VAL5,'')),''),null,activity('Get Config value').output.firstRow.VAL5),null)),equals(if(equals(trim(coalesce(activity('Get Config value').output.firstRow.VAL6,'')),''),null,activity('Get Config value').output.firstRow.VAL6),null)))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set outputPath",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "outputPath",
								"value": {
									"value": "@activity('Get Config Value').output.firstRow.VAL2",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set prefixOutputFile",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set outputPath",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "prefixOutputFile",
								"value": {
									"value": "@activity('Get Config Value').output.firstRow.VAL5",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set fileTypeOutputFile",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set prefixOutputFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileTypeOutputFile",
								"value": {
									"value": "@activity('Get Config Value').output.firstRow.VAL6",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute CC_ReviewSendBilingNo",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set fileTypeOutputFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CC_DataFactorySendFileProcessCount",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SCHEMA": {
										"value": "@variables('SCHEMA')",
										"type": "Expression"
									},
									"CREDIT_USER": {
										"value": "@variables('CREDIT_USER')",
										"type": "Expression"
									},
									"DATA_TYPE": {
										"value": "@variables('DATA_TYPE')",
										"type": "Expression"
									},
									"outputPath": {
										"value": "@variables('outputPath')",
										"type": "Expression"
									},
									"prefixOutputFile": {
										"value": "@variables('prefixOutputFile')",
										"type": "Expression"
									},
									"fileTypeOutputFile": {
										"value": "@variables('fileTypeOutputFile')",
										"type": "Expression"
									},
									"ScriptCount": {
										"value": "@concat('SELECT COUNT(T.LINE) AS COUNT FROM (SELECT CONCAT(\n''02|'',TEMP.ACCNT_ID\n,''|'',TEMP.BILLING_ACCNT_ID\n,''|'',TEMP.CREDIT_GRADE\n,''|'',TEMP.ARPU\n,''|'',TEMP.SCORE_RANGE\n,''|'',TEMP.CREDIT_LIMIT\n,''|'',TEMP.PREV_CREDIT_LIMIT\n,''|'',TEMP.PREV_SCORE_RANGE\n,''|'',TEMP.PREV_GNV_THESHOLD_SET_ID\n,''|'',TEMP.LAST_REVIEW_DAT\n,''|'',TEMP.LAST_UPD\n,''|'',TEMP.LAST_UPD_BY\n,''|'',TEMP.CL_TYPE\n,''|'',TEMP.CL_CHANGE_REASON\n,''|'',TEMP.OUTCOME_REASON\n,''|'',TEMP.MIN_REVIEW\n,''|'',TEMP.FBB_FLAG\n,''|'',TEMP.ACTUAL\n,''|'',TEMP.PREVIUS_ACTUAL\n,''|'',TEMP.SUM_PRO\n,''|'',TEMP.CREDIT_LIMIT_ROW_ID\n,''|'',TEMP.TOTAL_SCORE\n,''|'',TEMP.PROFILE_COMPLETE_FLG\n) AS LINE FROM (\nSELECT ACCNT_ID,BILLING_ACCNT_ID ,CREDIT_GRADE ,ARPU ,SCORE_RANGE ,CREDIT_LIMIT ,PREV_CREDIT_LIMIT ,\nPREV_SCORE_RANGE ,'' AS PREV_GNV_THESHOLD_SET_ID,LAST_REVIEW_DAT ,LAST_UPD ,LAST_UPD_BY ,CL_TYPE,\nCL_CHANGE_REASON ,OUTCOME_REASON ,MIN_REVIEW ,FBB_FLAG ,ACTUAL ,'' AS PREVIUS_ACTUAL,SUM_MAIN_PRO AS SUM_PRO,\n'' AS CREDIT_LIMIT_ROW_ID,'' AS TOTAL_SCORE,PROFILE_COMPLETE_FLG \nFROM ',variables('SCHEMA'),'.CC_SCORE_REQUEST\nWHERE CL_LEVEL = ''BA'' AND CONVERT(Date, CREATED) = CONVERT(Date, GETDATE())\n)TEMP) T;')",
										"type": "Expression"
									},
									"messageWhenCountZero": "Query return credit limit data not found",
									"pipeLineProcessFileName": {
										"value": "@variables('pipeLineProcessFileName')",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "insert error when config val error",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('INSERT INTO ',variables('SCHEMA'),'.CC_DATA_FACTORY \n\t(CREATED,\n\tCREATED_BY,\n\tLAST_UPD,\n\tLAST_UPD_BY,\n\tDATA_TYPE,\n\tSTATUS,\n\tDESCRIPTION) VALUES (CONVERT(DATETIME2(0),'''\n\t,convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),'''),\n\t''',variables('CREDIT_USER'),''',CONVERT(DATETIME2(0),'''\n\t,convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),'''),\n\t''',variables('CREDIT_USER'),''',\n\t''',variables('DATA_TYPE'),''',\n\t''E'',''',\n\tif(not(contains(string(activity('Get Config Value').output),'firstRow')),concat('Config LOV_TYPE : ',variables('LOV_TYPE'),' ,LOV_NAME : ',variables('LOV_NAME'),' Data not found.'),concat('Config ',\n\tif(startswith(\n\tconcat(if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL2,'')),''),null,activity('Get Config Value').output.firstRow.VAL2),null),',Output path(VAL2)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL5,'')),''),null,activity('Get Config Value').output.firstRow.VAL5),null),',Prefix Output path(VAL5)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL6,'')),''),null,activity('Get Config Value').output.firstRow.VAL6),null),',file type Output path(VAL6)',''))\n\t,','),substring(\n\tconcat(if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL2,'')),''),null,activity('Get Config Value').output.firstRow.VAL2),null),',Output path(VAL2)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL5,'')),''),null,activity('Get Config Value').output.firstRow.VAL5),null),',Prefix Output path(VAL5)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL6,'')),''),null,activity('Get Config Value').output.firstRow.VAL6),null),',file type Output path(VAL6)',''))\n\t,1,sub(length(\n\tconcat(if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL2,'')),''),null,activity('Get Config Value').output.firstRow.VAL2),null),',Output path(VAL2)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL5,'')),''),null,activity('Get Config Value').output.firstRow.VAL5),null),',Prefix Output path(VAL5)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL6,'')),''),null,activity('Get Config Value').output.firstRow.VAL6),null),',file type Output path(VAL6)',''))\n\t),1)),\n\tconcat(if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL2,'')),''),null,activity('Get Config Value').output.firstRow.VAL2),null),',Output path(VAL2)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL5,'')),''),null,activity('Get Config Value').output.firstRow.VAL5),null),',Prefix Output path(VAL5)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL6,'')),''),null,activity('Get Config Value').output.firstRow.VAL6),null),',file type Output path(VAL6)',''))\n\t)\n\t,' Data not found.')),''');')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"SCHEMA": {
				"type": "String",
				"defaultValue": "CREDIT_UAT"
			},
			"LOV_TYPE": {
				"type": "String",
				"defaultValue": "CC_MONITOR_MASTER"
			},
			"LOV_NAME": {
				"type": "String",
				"defaultValue": "cc_data_fac_review_send_credit_limit"
			},
			"CREDIT_USER": {
				"type": "String",
				"defaultValue": "DATA_FAC_ END_CREDIT_LIMIT"
			},
			"DATA_TYPE": {
				"type": "String",
				"defaultValue": "SEND_CREDIT_LIMIT"
			},
			"outputPath": {
				"type": "String"
			},
			"prefixOutputFile": {
				"type": "String"
			},
			"fileTypeOutputFile": {
				"type": "String"
			},
			"pipeLineProcessFileName": {
				"type": "String",
				"defaultValue": "CC_DatafactorySendCreditLimitProcesFile"
			}
		},
		"annotations": []
	}
}