pipeline/CC_DataFactoryInsertProfileChange.json
{
	"name": "CC_DataFactoryInsertProfileChange",
	"properties": {
		"activities": [
			{
				"name": "Get Config Value",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Clear CC_PROFILE_CHANGE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT VAL1,VAL3,VAL4,VAL7 from ',variables('SCHEMA'),'.CC_CURRENT c WHERE c.LOV_TYPE= ''',variables('LOV_TYPE'),''' AND c.LOV_NAME = ''',variables('LOV_NAME'),''' AND c.ACTIVE_FLG =''Y''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTableCurrent",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Configval is nul or Some Config val is Null",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Config Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(not(contains(string(activity('Get Config Value').output),'firstRow')),or(or(or(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val1,'')),''),null,activity('Get Config Value').output.firstRow.val1),null),equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val3,'')),''),null,activity('Get Config Value').output.firstRow.val3),null)),equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val4,'')),''),null,activity('Get Config Value').output.firstRow.val4),null)),equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val7,'')),''),null,activity('Get Config Value').output.firstRow.val7),null)))\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set inputPath",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "inputPath",
								"value": {
									"value": "@activity('Get Config Value').output.firstRow.val1",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set fileTypeInputFile",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set prefixInputFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileTypeInputFile",
								"value": {
									"value": "@activity('Get Config Value').output.firstRow.val4",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set prefixInputFile",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set inputPath",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "prefixInputFile",
								"value": {
									"value": "@activity('Get Config Value').output.firstRow.val3",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set moveInputPath",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set fileTypeInputFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "moveInputPath",
								"value": {
									"value": "@activity('Get Config Value').output.firstRow.val7",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Pipeline FindFile indir",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set moveInputPath",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CC_FindFileSyncInDirDataFactory",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"inputPath": {
										"value": "@variables('inputPath')",
										"type": "Expression"
									},
									"prefixInputFile": {
										"value": "@variables('prefixInputFile')",
										"type": "Expression"
									},
									"fileTypeInputFile": {
										"value": "@variables('fileTypeInputFile')",
										"type": "Expression"
									},
									"SCHEMA": {
										"value": "@variables('SCHEMA')",
										"type": "Expression"
									},
									"CREDIT_USER": {
										"value": "@variables('CREDIT_USER')",
										"type": "Expression"
									},
									"moveInputPath": {
										"value": "@variables('moveInputPath')",
										"type": "Expression"
									},
									"executePipeLineName": {
										"value": "@variables('executeDatPipeLineName')",
										"type": "Expression"
									},
									"DATA_TYPE": {
										"value": "@variables('DATA_TYPE')",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "insert error when config val error",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('INSERT INTO ',variables('SCHEMA'),'.CC_DATA_FACTORY\n\t(CREATED,\n\tCREATED_BY,\n\tLAST_UPD,\n\tLAST_UPD_BY,\n\tDATA_TYPE,\n\tSTATUS,\n\tDESCRIPTION) VALUES (CONVERT(DATETIME2(0),'''\n\t,convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),'''),\n\t''',variables('CREDIT_USER'),''',CONVERT(DATETIME2(0),'''\n\t,convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),'''),\n\t''',variables('CREDIT_USER'),''',\n\t''',variables('DATA_TYPE'),''',\n\t''E'',''',\n\tif(not(contains(string(activity('Get Config Value').output),'firstRow')),concat('Config LOV_TYPE : ',variables('LOV_TYPE'),' ,LOV_NAME : ',variables('LOV_NAME'),' Data not found.'),concat('Config ',\n\tif(startswith(\n\tconcat(if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val1,'')),''),null,activity('Get Config Value').output.firstRow.val1),null),',Input path(val1)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val3,'')),''),null,activity('Get Config Value').output.firstRow.val3),null),',Prefix Input file(val3)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val4,'')),''),null,activity('Get Config Value').output.firstRow.val4),null),',file type Input file(val4)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val7,'')),''),null,activity('Get Config Value').output.firstRow.val7),null),',Move Input path(val7)',''))\n\t,','),substring(\n\tconcat(if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val1,'')),''),null,activity('Get Config Value').output.firstRow.val1),null),',Input path(val1)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val3,'')),''),null,activity('Get Config Value').output.firstRow.val3),null),',Prefix Input file(val3)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val4,'')),''),null,activity('Get Config Value').output.firstRow.val4),null),',file type Input file(val4)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val7,'')),''),null,activity('Get Config Value').output.firstRow.val7),null),',Move Input path(val7)',''))\n\t,1,sub(length(\n\tconcat(if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val1,'')),''),null,activity('Get Config Value').output.firstRow.val1),null),',Input path(val1)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val3,'')),''),null,activity('Get Config Value').output.firstRow.val3),null),',Prefix Input file(val3)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val4,'')),''),null,activity('Get Config Value').output.firstRow.val4),null),',file type Input file(val4)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val7,'')),''),null,activity('Get Config Value').output.firstRow.val7),null),',Move Input path(val7)',''))\n\t),1)),\n\tconcat(if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val1,'')),''),null,activity('Get Config Value').output.firstRow.val1),null),',Input path(val1)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val3,'')),''),null,activity('Get Config Value').output.firstRow.val3),null),',Prefix Input file(val3)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val4,'')),''),null,activity('Get Config Value').output.firstRow.val4),null),',file type Input file(val4)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.val7,'')),''),null,activity('Get Config Value').output.firstRow.val7),null),',Move Input path(val7)',''))\n\t)\n\t,' Data not found.')),''');')\n",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Clear CC_PROFILE_CHANGE",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('DELETE FROM ',variables('SCHEMA'),'.CC_PROFILE_CHANGE')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"variables": {
			"SCHEMA": {
				"type": "String",
				"defaultValue": "CREDIT_DATA_FAC"
			},
			"LOV_NAME": {
				"type": "String",
				"defaultValue": "cc_data_fac_cat_subcat_Insert_profile_change"
			},
			"LOV_TYPE": {
				"type": "String",
				"defaultValue": "CC_MONITOR_MASTER"
			},
			"DATA_TYPE": {
				"type": "String",
				"defaultValue": "CAT_SUBCAT_INSERT_PROFILE"
			},
			"CREDIT_USER": {
				"type": "String",
				"defaultValue": "DATA_FAC_INSERT_PROFILE"
			},
			"inputPath": {
				"type": "String"
			},
			"prefixInputFile": {
				"type": "String"
			},
			"fileTypeInputFile": {
				"type": "String"
			},
			"moveInputPath": {
				"type": "String"
			},
			"executeDatPipeLineName": {
				"type": "String",
				"defaultValue": "CC_ChangeCatSubcatInsertProfileChangeProcessDat"
			}
		},
		"annotations": []
	}
}