pipeline/CC_DatafactorySendCreditAssign.json
{
	"name": "CC_DatafactorySendCreditAssign",
	"properties": {
		"activities": [
			{
				"name": "Get Config Value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT VAL2,VAL5,VAL6 from ',variables('SCHEMA'),'.CC_CURRENT c WHERE c.LOV_TYPE= ''',variables('LOV_TYPE'),''' AND c.LOV_NAME = ''',variables('LOV_NAME'),''' AND c.ACTIVE_FLG =''Y''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlMaster",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Configval is nul or Some Config val is Null",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Config Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(not(contains(string(activity('Get Config value').output),'firstRow')),or(or(equals(if(equals(trim(coalesce(activity('Get Config value').output.firstRow.VAL2,'')),''),null,activity('Get Config value').output.firstRow.VAL2),null),equals(if(equals(trim(coalesce(activity('Get Config value').output.firstRow.VAL5,'')),''),null,activity('Get Config value').output.firstRow.VAL5),null)),equals(if(equals(trim(coalesce(activity('Get Config value').output.firstRow.VAL6,'')),''),null,activity('Get Config value').output.firstRow.VAL6),null)))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set outputPath",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "outputPath",
								"value": {
									"value": "@activity('Get Config Value').output.firstRow.VAL2",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set prefixOutputFile",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set outputPath",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "prefixOutputFile",
								"value": {
									"value": "@activity('Get Config Value').output.firstRow.VAL5",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set fileTypeOutputFile",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set prefixOutputFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileTypeOutputFile",
								"value": {
									"value": "@activity('Get Config Value').output.firstRow.VAL6",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute CC_ReviewSendBilingNo",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set fileTypeOutputFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CC_DataFactorySendFileProcessCount",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SCHEMA": {
										"value": "@variables('SCHEMA')",
										"type": "Expression"
									},
									"CREDIT_USER": {
										"value": "@variables('CREDIT_USER')",
										"type": "Expression"
									},
									"DATA_TYPE": {
										"value": "@variables('DATA_TYPE')",
										"type": "Expression"
									},
									"outputPath": {
										"value": "@variables('outputPath')",
										"type": "Expression"
									},
									"prefixOutputFile": {
										"value": "@variables('prefixOutputFile')",
										"type": "Expression"
									},
									"fileTypeOutputFile": {
										"value": "@variables('fileTypeOutputFile')",
										"type": "Expression"
									},
									"ScriptCount": {
										"value": "\n@concat('SELECT COUNT(T.LINE) AS COUNT FROM (SELECT CONCAT(\n''02|'',TEMP.PHX_ROW_ID\n,''|'',TEMP.EXISTING_ROW_ID\n,''|'',TEMP.BILLING_ACCOUNT_NUM\n,''|'',TEMP.LIMIT_MNY\n,''|'',TEMP.THRESHOLD_ID\n,''|'',TEMP.REQUEST_ID\n,''|'',TEMP.ACTION_TYPE\n,''|'',CONVERT(DATETIME2(0),TEMP.ACTION_DTM)\n,''|'',TEMP.REASON_CODE\n,''|'',TEMP.REASON_SUBCODE\n,''|'',TEMP.ASSIGN_NO\n,''|'',TEMP.TEMP_EXPIRE_DAT\n,''|'',CONVERT(DATETIME2(0),TEMP.CREATED)\n,''|'',TEMP.CREATED_BY\n,''|'',CONVERT(DATETIME2(0),''',convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),''')\n,''|'',TEMP.LAST_UPD_BY\n,''|'',TEMP.SEQ_NO\n,''|'',TEMP.CREDIT_GRADE\n,''|'',TEMP.ARPU\n,''|'',TEMP.MIN_REVIEW\n,''|'',TEMP.SUM_MAIN\n,''|'',TEMP.NEXT_BILL_DATE\n,''|'',TEMP.PHX_OPERATION\n) AS LINE FROM (\nSELECT ROW_ID AS PHX_ROW_ID,REF_ROW_ID AS EXISTING_ROW_ID,BILLING_ACCOUNT_NUM,\nLIMIT_MNY ,THRESHOLD_ID ,REQUEST_ID ,ACTION_TYPE ,ACTION_DTM ,REASON_CODE ,REASON_SUBCODE ,\nASSIGN_NO ,TEMP_EXPIRE_DAT ,CREATED ,CREATED_BY ,LAST_UPD ,LAST_UPD_BY ,SEQ_NO ,\nCREDIT_GRADE ,ARPU ,MIN_REVIEW ,SUM_MAIN ,NEXT_BILL_DATE ,''Insert'' AS PHX_OPERATION\nFROM ',variables('SCHEMA'),'.CC_CREDIT_ASSIGN \nWHERE CONVERT(Date, CREATED) < CONVERT(Date, GETDATE())\nUNION ALL\nSELECT ASSIGN_ROW_ID AS PHX_ROW_ID,ASSIGN_REF_ROW_ID AS EXISTING_ROW_ID,BILLING_ACCOUNT_NUM,\nLIMIT_MNY ,THRESHOLD_ID ,REQUEST_ID ,ACTION_TYPE ,ACTION_DTM ,REASON_CODE ,REASON_SUBCODE ,\nASSIGN_NO ,TEMP_EXPIRE_DAT ,CREATED ,CREATED_BY ,LAST_UPD ,LAST_UPD_BY ,SEQ_NO ,\nCREDIT_GRADE ,ARPU ,MIN_REVIEW ,SUM_MAIN ,NEXT_BILL_DATE ,''Delete'' AS PHX_OPERATION\nFROM ',variables('SCHEMA'),'.CC_CREDIT_ASSIGN_AT \nWHERE CONVERT(Date, BATCH_CREATED) < CONVERT(Date, GETDATE())\n)TEMP) T;')",
										"type": "Expression"
									},
									"messageWhenCountZero": "Query return credit assign data not found",
									"pipeLineProcessFileName": {
										"value": "@variables('pipeLineProcessFileName')",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "insert error when config val error",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('INSERT INTO ',variables('SCHEMA'),'.CC_DATA_FACTORY \n\t(CREATED,\n\tCREATED_BY,\n\tLAST_UPD,\n\tLAST_UPD_BY,\n\tDATA_TYPE,\n\tSTATUS,\n\tDESCRIPTION) VALUES (CONVERT(DATETIME2(0),'''\n\t,convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),'''),\n\t''',variables('CREDIT_USER'),''',CONVERT(DATETIME2(0),'''\n\t,convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),'''),\n\t''',variables('CREDIT_USER'),''',\n\t''',variables('DATA_TYPE'),''',\n\t''E'',''',\n\tif(not(contains(string(activity('Get Config Value').output),'firstRow')),concat('Config LOV_TYPE : ',variables('LOV_TYPE'),' ,LOV_NAME : ',variables('LOV_NAME'),' Data not found.'),concat('Config ',\n\tif(startswith(\n\tconcat(if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL2,'')),''),null,activity('Get Config Value').output.firstRow.VAL2),null),',Output path(VAL2)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL5,'')),''),null,activity('Get Config Value').output.firstRow.VAL5),null),',Prefix Output path(VAL5)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL6,'')),''),null,activity('Get Config Value').output.firstRow.VAL6),null),',file type Output path(VAL6)',''))\n\t,','),substring(\n\tconcat(if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL2,'')),''),null,activity('Get Config Value').output.firstRow.VAL2),null),',Output path(VAL2)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL5,'')),''),null,activity('Get Config Value').output.firstRow.VAL5),null),',Prefix Output path(VAL5)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL6,'')),''),null,activity('Get Config Value').output.firstRow.VAL6),null),',file type Output path(VAL6)',''))\n\t,1,sub(length(\n\tconcat(if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL2,'')),''),null,activity('Get Config Value').output.firstRow.VAL2),null),',Output path(VAL2)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL5,'')),''),null,activity('Get Config Value').output.firstRow.VAL5),null),',Prefix Output path(VAL5)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL6,'')),''),null,activity('Get Config Value').output.firstRow.VAL6),null),',file type Output path(VAL6)',''))\n\t),1)),\n\tconcat(if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL2,'')),''),null,activity('Get Config Value').output.firstRow.VAL2),null),',Output path(VAL2)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL5,'')),''),null,activity('Get Config Value').output.firstRow.VAL5),null),',Prefix Output path(VAL5)',''),if(equals(if(equals(trim(coalesce(activity('Get Config Value').output.firstRow.VAL6,'')),''),null,activity('Get Config Value').output.firstRow.VAL6),null),',file type Output path(VAL6)',''))\n\t)\n\t,' Data not found.')),''');')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"SCHEMA": {
				"type": "String",
				"defaultValue": "CREDIT_DEV"
			},
			"LOV_TYPE": {
				"type": "String",
				"defaultValue": "CC_MONITOR_MASTER"
			},
			"LOV_NAME": {
				"type": "String",
				"defaultValue": "cc_data_fac_review_send_credit_assign"
			},
			"CREDIT_USER": {
				"type": "String",
				"defaultValue": "DATA_FAC_ END_CREDIT_ASSIGN"
			},
			"DATA_TYPE": {
				"type": "String",
				"defaultValue": "SEND_CREDIT_ASSIGN"
			},
			"outputPath": {
				"type": "String"
			},
			"prefixOutputFile": {
				"type": "String"
			},
			"fileTypeOutputFile": {
				"type": "String"
			},
			"pipeLineProcessFileName": {
				"type": "String",
				"defaultValue": "CC_DatafactorySendCreditAssignProcesFile"
			}
		},
		"annotations": []
	}
}