pipeline/CC_DataFactoryProcessFileSync.json
{
	"name": "CC_DataFactoryProcessFileSync",
	"properties": {
		"activities": [
			{
				"name": "For Each file Sync",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.fileNameList",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "Execute CC_ReviewProcessFileSyncChildren",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CC_DataFactoryProcessFileSyncChildren",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"inputPath": {
										"value": "@pipeline().parameters.inputPath",
										"type": "Expression"
									},
									"SCHEMA": {
										"value": "@pipeline().parameters.SCHEMA",
										"type": "Expression"
									},
									"CREDIT_USER": {
										"value": "@pipeline().parameters.CREDIT_USER",
										"type": "Expression"
									},
									"DATA_TYPE": {
										"value": "@pipeline().parameters.DATA_TYPE",
										"type": "Expression"
									},
									"moveInputPath": {
										"value": "@pipeline().parameters.moveInputPath",
										"type": "Expression"
									},
									"fileInputName": {
										"value": "@item().name",
										"type": "Expression"
									},
									"executePipeLineName": {
										"value": "@pipeline().parameters.executePipeLineName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "DELETE OLD RECORD",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "For Each file Sync",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('DELETE FROM ',pipeline().parameters.SCHEMA,'.CC_DATA_FACTORY_BILLING_REVIEW WHERE DATA_ID IN (',replace(replace(replace(replace(replace(replace(replace(string(pipeline().parameters.oldDataIdList),'[',''),']',''),'{',''),'}',''),':',''),'[',''),'\"DATA_ID\"',''),')')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"inputPath": {
				"type": "string"
			},
			"SCHEMA": {
				"type": "string"
			},
			"CREDIT_USER": {
				"type": "string"
			},
			"DATA_TYPE": {
				"type": "string"
			},
			"moveInputPath": {
				"type": "string"
			},
			"fileNameList": {
				"type": "array"
			},
			"executePipeLineName": {
				"type": "string"
			},
			"oldDataIdList": {
				"type": "string"
			}
		},
		"variables": {
			"fileDatName": {
				"type": "String"
			},
			"fileDatSize": {
				"type": "String"
			},
			"reviewId": {
				"type": "String"
			},
			"fileinputName": {
				"type": "String"
			},
			"exceptionError": {
				"type": "String"
			}
		},
		"annotations": []
	}
}