pipeline/CC_DataFactorySendFileProcessCount.json
{
	"name": "CC_DataFactorySendFileProcessCount",
	"properties": {
		"activities": [
			{
				"name": "Get COUNT",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.ScriptCount",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlMaster",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "If Billing Account List is empty",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get COUNT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get COUNT').output.firstRow.COUNT,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Execute ReviewDataFactorySendBilingProcessAccountNoList",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CC_DataFactorySendFileProcessLimitAndLoop",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"outputPath": {
										"value": "@pipeline().parameters.outputPath",
										"type": "Expression"
									},
									"prefixOutputFile": {
										"value": "@pipeline().parameters.prefixOutputFile",
										"type": "Expression"
									},
									"fileTypeOutputFile": {
										"value": "@pipeline().parameters.fileTypeOutputFile",
										"type": "Expression"
									},
									"SCHEMA": {
										"value": "@pipeline().parameters.SCHEMA",
										"type": "Expression"
									},
									"CREDIT_USER": {
										"value": "@pipeline().parameters.CREDIT_USER",
										"type": "Expression"
									},
									"DATA_TYPE": {
										"value": "@pipeline().parameters.DATA_TYPE",
										"type": "Expression"
									},
									"count": {
										"value": "@activity('Get COUNT').output.firstRow.COUNT",
										"type": "Expression"
									},
									"pipeLineProcessFileName": {
										"value": "@pipeline().parameters.pipeLineProcessFileName",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Get limit",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT CAST(ISNULL(NULLIF(LOV_NAME ,''''),50000) AS NUMERIC(22,0)) AS LIMIT FROM ',pipeline().parameters.SCHEMA,'.CC_CURRENT WHERE LOV_TYPE = ''WRITE_FILE_MAX_RECORD'' AND ACTIVE_FLG = ''Y''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSqlMaster",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Get Count Round",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set limitPerRound",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT\n    IIF(ROUND(',activity('Get COUNT').output.firstRow.COUNT,' /(',variables('limitPerRound'),'), 0, 1)>0,\n\tROUND(',activity('Get COUNT').output.firstRow.COUNT,' /(',variables('limitPerRound'),'), 0, 1)+\n\t(IIF(',activity('Get COUNT').output.firstRow.COUNT,'%(',variables('limitPerRound'),') > 0,1,0)),1) AS COUNT_ROUND;')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSqlMaster",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set limitPerRound",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get limit",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "limitPerRound",
								"value": {
									"value": "@string(activity('Get limit').output.firstRow.LIMIT)",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "insert when Billing Account List is empty",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('INSERT INTO ',pipeline().parameters.SCHEMA,'.CC_DATA_FACTORY \n\t(CREATED,\n\tCREATED_BY,\n\tLAST_UPD,\n\tLAST_UPD_BY,\n\tDATA_TYPE,\n\tSTATUS,\n\tDESCRIPTION) VALUES (CONVERT(DATETIME2(0),'''\n\t,convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),'''),\n\t''',pipeline().parameters.CREDIT_USER,''',CONVERT(DATETIME2(0),'''\n\t,convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),'''),\n\t''',pipeline().parameters.CREDIT_USER,''',\n\t''',pipeline().parameters.DATA_TYPE,''',\n\t''S'',''',pipeline().parameters.messageWhenCountZero,''');')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SCHEMA": {
				"type": "string"
			},
			"CREDIT_USER": {
				"type": "string"
			},
			"DATA_TYPE": {
				"type": "string"
			},
			"outputPath": {
				"type": "string"
			},
			"prefixOutputFile": {
				"type": "string"
			},
			"fileTypeOutputFile": {
				"type": "string"
			},
			"ScriptCount": {
				"type": "string"
			},
			"messageWhenCountZero": {
				"type": "string"
			},
			"pipeLineProcessFileName": {
				"type": "string"
			}
		},
		"variables": {
			"fileName": {
				"type": "String"
			},
			"fileSyncName": {
				"type": "String"
			},
			"pocessTime": {
				"type": "String"
			},
			"countBa": {
				"type": "String"
			},
			"limitPerRound": {
				"type": "String"
			}
		},
		"annotations": []
	}
}