pipeline/CC_MoveFile_From_Clound.json
{
	"name": "CC_MoveFile_From_Clound",
	"properties": {
		"activities": [
			{
				"name": "get Move file info",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT SYNC_FLG,MOVE_PATH ,MOVE_BACKUP_PATH ,FILE_NAME ,FILE_NAME_SYNC  FROM ',variables('SCHEMA'),'.CC_RESPONSE_FILE crf WHERE RES_ID = ',pipeline().parameters.resId,' AND STATUS = ''O'';')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlMaster",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set syncFlg",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get Move file info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "syncFlg",
					"value": {
						"value": "@activity('get Move file info').output.firstRow.SYNC_FLG",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set fileNameSync",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get Move file info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileNameSync",
					"value": {
						"value": "@activity('get Move file info').output.firstRow.FILE_NAME_SYNC",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set fileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get Move file info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileName",
					"value": {
						"value": "@activity('get Move file info').output.firstRow.FILE_NAME",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set moveBackUpPath",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get Move file info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "moveBackUpPath",
					"value": {
						"value": "@activity('get Move file info').output.firstRow.MOVE_BACKUP_PATH",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set movePath",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get Move file info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "movePath",
					"value": {
						"value": "@activity('get Move file info').output.firstRow.MOVE_PATH",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"resId": {
				"type": "string"
			}
		},
		"variables": {
			"syncFlg": {
				"type": "String"
			},
			"fileName": {
				"type": "String"
			},
			"fileNameSync": {
				"type": "String"
			},
			"movePath": {
				"type": "String"
			},
			"moveBackUpPath": {
				"type": "String"
			},
			"SCHEMA": {
				"type": "String",
				"defaultValue": "CREDIT_DEV"
			},
			"fileNameDatOnly": {
				"type": "String"
			},
			"fileNameSyncOnly": {
				"type": "String"
			}
		},
		"annotations": []
	}
}