pipeline/CC_PLAY_GROUND.json
{
	"name": "CC_PLAY_GROUND",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @LINES VARCHAR(MAX)\nSELECT\n\t@LINES = CONCAT(@LINES, CHAR(10), '') + [LINE]\nFROM\n\t(\n\tSELECT\n\t\tCONCAT('02|', ACCNT_ID) AS LINE\n\tFROM\n\t\tCREDIT_UAT.CC_UPDATE_CA_INFO\n\tWHERE\n\t\tSTATUS = 'P'\n\tORDER BY\n\t\tCA_ID ASC OFFSET 0 ROWS FETCH NEXT 50000 ROWS ONLY) T\nSELECT\n\tCONCAT((SELECT CONCAT('01|', '20220720_163205') AS LINE),(SELECT @LINES), CHAR(10),(SELECT\n\t'09|' + CONVERT(varchar(255),\n\tCOUNT(T2.LINE)) AS LINE\nFROM\n\t(\n\tSELECT\n\t\tCONCAT('02|', ACCNT_ID) AS LINE\n\tFROM\n\t\tCREDIT_UAT.CC_UPDATE_CA_INFO\n\tWHERE\n\t\tSTATUS = 'P'\n\tORDER BY\n\t\tCA_ID ASC OFFSET 0 ROWS FETCH NEXT 50000 ROWS ONLY) T2)) AS LINE;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "FileServerWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LINE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlMaster",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CCLocalFileToWrite",
						"type": "DatasetReference",
						"parameters": {
							"filePath": {
								"value": "@variables('limit')",
								"type": "Expression"
							},
							"fileName": {
								"value": "@variables('prefixName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference",
						"parameters": {
							"fileName": {
								"value": "'@{concat('TEST.dat')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"processTime": {
				"type": "String"
			},
			"prefixName": {
				"type": "String"
			},
			"limit": {
				"type": "String",
				"defaultValue": "50000"
			}
		},
		"annotations": []
	}
}