pipeline/CC_ReviewUpdateCreditgrade.json
{
	"name": "CC_ReviewUpdateCreditgrade",
	"properties": {
		"activities": [
			{
				"name": "Get Config Value in Clound Storage",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Clear Data Temp Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT VAL1, VAL3, VAL4, NULLIF(VAL7,'''') AS VAL7 from ',variables('SCHEMA'),'.CC_CURRENT c WHERE c.LOV_TYPE= ''',variables('lovType'),''' AND c.LOV_NAME = ''',variables('lovName'),''' AND c.ACTIVE_FLG =''Y''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlMaster",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Clear Data Temp Table Detail",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('DELETE FROM ',variables('SCHEMA'),'.CC_TEMP_FILE_DETAIL \n    WHERE FILE_ID IN(SELECT FILE_ID \n                        FROM ',variables('SCHEMA'),'.CC_TEMP_FILE \n                        WHERE STATUS = ''S'' \n                        AND FILE_TYPE = ''',variables('FILE_TYPE'),''')')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "Clear Data Temp Table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Clear Data Temp Table Detail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('DELETE FROM ',variables('SCHEMA'),'.CC_TEMP_FILE \n            WHERE STATUS = ''S'' \n            AND FILE_TYPE = ''',variables('FILE_TYPE'),'''')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "If Configval is nul or Some Config val is Null",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Config Value in Clound Storage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(not(contains(string(activity('Get Config Value in Clound Storage').output),'firstRow')),or(or(empty(trim(coalesce(activity('Get Config Value in Clound Storage').output.firstRow.val1,''))),empty(trim(coalesce(activity('Get Config Value in Clound Storage').output.firstRow.val3,'')))),empty(trim(coalesce(activity('Get Config Value in Clound Storage').output.firstRow.val4,'')))))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set inputPath",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "inputPath",
								"value": {
									"value": "@activity('Get Config Value in Clound Storage').output.firstRow.val1",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set fileTypeInputFile",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set inputPath",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileTypeInputFile",
								"value": {
									"value": "@activity('Get Config Value in Clound Storage').output.firstRow.val4",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set prefixInputFile",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set fileTypeInputFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "prefixInputFile",
								"value": {
									"value": "@activity('Get Config Value in Clound Storage').output.firstRow.val3",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set moveInputPath",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set prefixInputFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "moveInputPath",
								"value": {
									"value": "@if(empty(activity('Get Config Value in Clound Storage').output.firstRow.val7),'',activity('Get Config Value in Clound Storage').output.firstRow.val7)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute All Process",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set moveInputPath",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CC_ReviewFindFileSyncInDir",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"inputPath": {
										"value": "@variables('inputPath')",
										"type": "Expression"
									},
									"prefixInputFile": {
										"value": "@variables('prefixInputFile')",
										"type": "Expression"
									},
									"fileTypeInputFile": {
										"value": "@variables('fileTypeInputFile')",
										"type": "Expression"
									},
									"SCHEMA": {
										"value": "@variables('SCHEMA')",
										"type": "Expression"
									},
									"CREDIT_USER": {
										"value": "@variables('CREDIT_USER')",
										"type": "Expression"
									},
									"FILE_TYPE": {
										"value": "@variables('FILE_TYPE')",
										"type": "Expression"
									},
									"LOV_TYPE_REVIEW": {
										"value": "@variables('REVIEW_TYPE')",
										"type": "Expression"
									},
									"moveInputPath": {
										"value": "@variables('moveInputPath')",
										"type": "Expression"
									},
									"FILE_UPDATE_TYPE": {
										"value": "@variables('FILE_UPDATE_TYPE')",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "insert error when config val error",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('INSERT INTO ',variables('SCHEMA'),'.CC_REVIEW \n\t(CREATED,\n\tCREATED_BY,\n\tLAST_UPD,\n\tLAST_UPD_BY,\n\tREVIEW_TYPE,\n\tSTATUS,\n\tDESCRIPTION) VALUES (CONVERT(DATETIME2(0),'''\n\t,convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),'''),\n\t''',variables('CREDIT_USER'),''',CONVERT(DATETIME2(0),'''\n\t,convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),'''),\n\t''',variables('CREDIT_USER'),''',\n\t''',variables('REVIEW_TYPE'),''',\n\t''E'',''',\n\tif(not(contains(string(activity('Get Config Value in Clound Storage').output),'firstRow')),concat('Config LOV_TYPE : ',variables('lovType'),' ,LOV_NAME : ',variables('lovName'),' Data not found.'),concat('Config ',\n\tif(startswith(\n\tconcat(if(empty(trim(coalesce(activity('Get Config Value in Clound Storage').output.firstRow.val1,''))),',Input path(val1)',''),if(empty(trim(coalesce(activity('Get Config Value in Clound Storage').output.firstRow.val3,''))),',Prefix Input file(val3)',''),if(empty(trim(coalesce(activity('Get Config Value in Clound Storage').output.firstRow.val4,''))),',file type Input file(val4)',''))\n\t,','),substring(\n\tconcat(if(empty(trim(coalesce(activity('Get Config Value in Clound Storage').output.firstRow.val1,''))),',Input path(val1)',''),if(empty(trim(coalesce(activity('Get Config Value in Clound Storage').output.firstRow.val3,''))),',Prefix Input file(val3)',''),if(empty(trim(coalesce(activity('Get Config Value in Clound Storage').output.firstRow.val4,''))),',file type Input file(val4)',''))\n\t,1,sub(length(\n\tconcat(if(empty(trim(coalesce(activity('Get Config Value in Clound Storage').output.firstRow.val1,''))),',Input path(val1)',''),if(empty(trim(coalesce(activity('Get Config Value in Clound Storage').output.firstRow.val3,''))),',Prefix Input file(val3)',''),if(empty(trim(coalesce(activity('Get Config Value in Clound Storage').output.firstRow.val4,''))),',file type Input file(val4)',''))\n\t),1)),\n\tconcat(if(empty(trim(coalesce(activity('Get Config Value in Clound Storage').output.firstRow.val1,''))),',Input path(val1)',''),if(empty(trim(coalesce(activity('Get Config Value in Clound Storage').output.firstRow.val3,''))),',Prefix Input file(val3)',''),if(empty(trim(coalesce(activity('Get Config Value in Clound Storage').output.firstRow.val4,''))),',file type Input file(val4)',''))\n\t)\n\t,' Data not found.')),''');')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"inputPath": {
				"type": "String"
			},
			"prefixInputFile": {
				"type": "String"
			},
			"fileTypeInputFile": {
				"type": "String"
			},
			"CREDIT_USER": {
				"type": "String",
				"defaultValue": "DATA_FAC_CREDIT_GRADE"
			},
			"FILE_TYPE": {
				"type": "String",
				"defaultValue": "REQUEST_FILE_CREDIT_GRADE"
			},
			"SCHEMA": {
				"type": "String",
				"defaultValue": "CREDIT_UAT"
			},
			"moveInputPath": {
				"type": "String"
			},
			"configErrorMsg": {
				"type": "String"
			},
			"lovType": {
				"type": "String",
				"defaultValue": "CC_MONITOR_MASTER"
			},
			"lovName": {
				"type": "String",
				"defaultValue": "sff_cc_credit_grade"
			},
			"REVIEW_TYPE": {
				"type": "String",
				"defaultValue": "sff_cc_credit_grade_data_fac"
			},
			"FILE_UPDATE_TYPE": {
				"type": "String",
				"defaultValue": "credit grade"
			},
			"processDatName": {
				"type": "String",
				"defaultValue": "CC_ReviewUpdateCreditgradeProcessDat"
			}
		},
		"annotations": []
	}
}