pipeline/CC_ReviewDataFactorySendBilingNoChildren.json
{
	"name": "CC_ReviewDataFactorySendBilingNoChildren",
	"properties": {
		"activities": [
			{
				"name": "Get COUNT",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.ScriptCount",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlMaster",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "If Billing Account List is empty",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get COUNT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get COUNT').output.firstRow.COUNT,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Execute ReviewDataFactorySendBilingProcessAccountNoList",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CC_DataFactorySendFileProcessLimitAndLoop",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"outputPath": {
										"value": "@pipeline().parameters.outputPath",
										"type": "Expression"
									},
									"prefixOutputFile": {
										"value": "@pipeline().parameters.prefixOutputFile",
										"type": "Expression"
									},
									"fileTypeOutputFile": {
										"value": "@pipeline().parameters.fileTypeOutputFile",
										"type": "Expression"
									},
									"SCHEMA": {
										"value": "@pipeline().parameters.SCHEMA",
										"type": "Expression"
									},
									"CREDIT_USER": {
										"value": "@pipeline().parameters.CREDIT_USER",
										"type": "Expression"
									},
									"DATA_TYPE": {
										"value": "@pipeline().parameters.DATA_TYPE",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "insert when Billing Account List is empty",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('INSERT INTO ',pipeline().parameters.SCHEMA,'.CC_DATA_FACTORY \n\t(CREATED,\n\tCREATED_BY,\n\tLAST_UPD,\n\tLAST_UPD_BY,\n\tDATA_TYPE,\n\tSTATUS,\n\tDESCRIPTION) VALUES (CONVERT(DATETIME2(0),'''\n\t,convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),'''),\n\t''',pipeline().parameters.CREDIT_USER,''',CONVERT(DATETIME2(0),'''\n\t,convertTimeZone(utcNow(),'UTC','SE Asia Standard Time'),'''),\n\t''',pipeline().parameters.CREDIT_USER,''',\n\t''',pipeline().parameters.DATA_TYPE,''',\n\t''S'',''',pipeline().parameters.messageWhenCountZero,''');')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SCHEMA": {
				"type": "string"
			},
			"CREDIT_USER": {
				"type": "string"
			},
			"DATA_TYPE": {
				"type": "string"
			},
			"outputPath": {
				"type": "string"
			},
			"prefixOutputFile": {
				"type": "string"
			},
			"fileTypeOutputFile": {
				"type": "string"
			},
			"ScriptCount": {
				"type": "string"
			},
			"messageWhenCountZero": {
				"type": "string"
			}
		},
		"variables": {
			"fileName": {
				"type": "String"
			},
			"fileSyncName": {
				"type": "String"
			},
			"pocessTime": {
				"type": "String"
			},
			"countBa": {
				"type": "String"
			}
		},
		"annotations": []
	}
}