pipeline/ValidateDemo.json
{
	"name": "ValidateDemo",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DemoValidator2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure",
						"columnCount",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata1').output.structure,json('[\n        {\n            \"name\": \"Prop_0\",\n            \"type\": \"String\"\n        },\n        {\n            \"name\": \"Prop_1\",\n            \"type\": \"String\"\n        },\n        {\n            \"name\": \"Prop_2\",\n            \"type\": \"String\"\n        }\n    ]'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "MoveErrorFile",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "demo",
										"wildcardFileName": {
											"value": "@activity('Get Metadata1').output.itemName",
											"type": "Expression"
										},
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "BinarySource",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TargetBinary",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@activity('Get Metadata1').output.itemName",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "CopyDataToTable",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "demo",
										"wildcardFileName": {
											"value": "@activity('Get Metadata1').output.itemName",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": false,
										"keys": [
											"ACCNT_NO"
										],
										"interimSchemaName": "CREDIT"
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"type": "String",
												"ordinal": 1
											},
											"sink": {
												"name": "ROW_ID",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 2
											},
											"sink": {
												"name": "CREATED",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 3
											},
											"sink": {
												"name": "CREATED_BY",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "LAST_UPD",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"sink": {
												"name": "LAST_UPD_BY",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "ACCNT_NO",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "ACCNT_CATEGORY",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "ACCNT_SUB_CATEGORY",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "BILL_NAME",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "BILL_CYCLE",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "INVOICING_COMPANY",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "PAYMENT_METHOD",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "MASTER_ACCNT_ID",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "STATUS_CD",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "BILLING_STATUS_CD",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "REGISTER_DT",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"sink": {
												"name": "ARPU",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 7,
												"precision": 22
											}
										},
										{
											"sink": {
												"name": "CREDIT_GRADE",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 5
											}
										},
										{
											"sink": {
												"name": "DEBT_NEGO_FLG",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"sink": {
												"name": "PAYMENT_FLAG",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DemoValidator2",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "BillingTable",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}