amtbsa/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "amtbsa"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ValidateDemo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DemoValidator2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"structure",
								"columnCount",
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get Metadata1').output.structure,json('[\n        {\n            \"name\": \"Prop_0\",\n            \"type\": \"String\"\n        },\n        {\n            \"name\": \"Prop_1\",\n            \"type\": \"String\"\n        },\n        {\n            \"name\": \"Prop_2\",\n            \"type\": \"String\"\n        }\n    ]'))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "MoveErrorFile",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "demo",
												"wildcardFileName": {
													"value": "@activity('Get Metadata1').output.itemName",
													"type": "Expression"
												},
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "BinarySource",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "TargetBinary",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@activity('Get Metadata1').output.itemName",
													"type": "Expression"
												}
											}
										}
									]
								}
							],
							"ifTrueActivities": [
								{
									"name": "CopyDataToTable",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "CURRENT_DATE",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "demo",
												"wildcardFileName": {
													"value": "@activity('Get Metadata1').output.itemName",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": 10,
											"writeBehavior": "upsert",
											"upsertSettings": {
												"useTempDB": false,
												"keys": [
													"ACCNT_NO"
												],
												"interimSchemaName": "CREDIT"
											},
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"validateDataConsistency": false,
										"logSettings": {
											"enableCopyActivityLog": true,
											"copyActivityLogSettings": {
												"logLevel": "Info",
												"enableReliableLogging": false
											},
											"logLocationSettings": {
												"linkedServiceName": {
													"referenceName": "AzureBlobStorage3",
													"type": "LinkedServiceReference"
												},
												"path": "credit-control/logs"
											}
										},
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"type": "String",
														"ordinal": 1
													},
													"sink": {
														"name": "ACCNT_NO",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 2
													},
													"sink": {
														"name": "PAYMENT_FLAG",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CURRENT_DATE",
														"type": "String"
													},
													"sink": {
														"name": "CREATED",
														"type": "DateTime",
														"physicalType": "datetime2"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DemoValidator2",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "BillingTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlMaster')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ROW_ID",
						"type": "varchar"
					},
					{
						"name": "PAR_ROW_ID",
						"type": "varchar"
					},
					{
						"name": "LOV_TYPE",
						"type": "varchar"
					},
					{
						"name": "LOV_NAME",
						"type": "varchar"
					},
					{
						"name": "DISPLAY_VAL",
						"type": "varchar"
					},
					{
						"name": "LOV_VAL1",
						"type": "varchar"
					},
					{
						"name": "LOV_VAL2",
						"type": "varchar"
					},
					{
						"name": "LOV_VAL3",
						"type": "varchar"
					},
					{
						"name": "LOV_VAL4",
						"type": "varchar"
					},
					{
						"name": "LOV_VAL5",
						"type": "varchar"
					},
					{
						"name": "LOV_VAL6",
						"type": "varchar"
					},
					{
						"name": "LOV_VAL7",
						"type": "varchar"
					},
					{
						"name": "LOV_VAL8",
						"type": "varchar"
					},
					{
						"name": "LOV_VAL9",
						"type": "varchar"
					},
					{
						"name": "LOV_VAL10",
						"type": "varchar"
					},
					{
						"name": "TEXT_DESC",
						"type": "varchar"
					},
					{
						"name": "ORDER_BY",
						"type": "decimal",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "GROUP_TYPE",
						"type": "varchar"
					},
					{
						"name": "ACTIVE_FLG",
						"type": "varchar"
					},
					{
						"name": "CREATED",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "LAST_UPD",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "LAST_UPD_BY",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "CREDIT",
					"table": "CC_CFG_LOV"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableCurrent')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ROW_ID",
						"type": "varchar"
					},
					{
						"name": "CREATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "LAST_UPD",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LAST_UPD_BY",
						"type": "varchar"
					},
					{
						"name": "PAR_ROW_ID",
						"type": "varchar"
					},
					{
						"name": "REQUEST_DETAIL_ID",
						"type": "varchar"
					},
					{
						"name": "LOV_CAT",
						"type": "varchar"
					},
					{
						"name": "LOV_SUBCAT",
						"type": "varchar"
					},
					{
						"name": "LOV_CUST_GROUP",
						"type": "varchar"
					},
					{
						"name": "MODULE_NAME",
						"type": "varchar"
					},
					{
						"name": "LOV_TYPE",
						"type": "varchar"
					},
					{
						"name": "LOV_NAME",
						"type": "nvarchar"
					},
					{
						"name": "VAL1",
						"type": "nvarchar"
					},
					{
						"name": "VAL2",
						"type": "nvarchar"
					},
					{
						"name": "VAL3",
						"type": "nvarchar"
					},
					{
						"name": "VAL4",
						"type": "nvarchar"
					},
					{
						"name": "VAL5",
						"type": "nvarchar"
					},
					{
						"name": "VAL6",
						"type": "nvarchar"
					},
					{
						"name": "VAL7",
						"type": "nvarchar"
					},
					{
						"name": "VAL8",
						"type": "nvarchar"
					},
					{
						"name": "VAL9",
						"type": "nvarchar"
					},
					{
						"name": "VAL10",
						"type": "nvarchar"
					},
					{
						"name": "VAL11",
						"type": "nvarchar"
					},
					{
						"name": "VAL12",
						"type": "nvarchar"
					},
					{
						"name": "VAL13",
						"type": "nvarchar"
					},
					{
						"name": "VAL14",
						"type": "nvarchar"
					},
					{
						"name": "VAL15",
						"type": "nvarchar"
					},
					{
						"name": "VAL16",
						"type": "nvarchar"
					},
					{
						"name": "VAL17",
						"type": "nvarchar"
					},
					{
						"name": "VAL18",
						"type": "nvarchar"
					},
					{
						"name": "VAL19",
						"type": "nvarchar"
					},
					{
						"name": "VAL20",
						"type": "nvarchar"
					},
					{
						"name": "VAL21",
						"type": "nvarchar"
					},
					{
						"name": "VAL22",
						"type": "nvarchar"
					},
					{
						"name": "VAL23",
						"type": "nvarchar"
					},
					{
						"name": "VAL24",
						"type": "nvarchar"
					},
					{
						"name": "VAL25",
						"type": "nvarchar"
					},
					{
						"name": "VAL26",
						"type": "nvarchar"
					},
					{
						"name": "VAL27",
						"type": "nvarchar"
					},
					{
						"name": "VAL28",
						"type": "nvarchar"
					},
					{
						"name": "VAL29",
						"type": "nvarchar"
					},
					{
						"name": "VAL30",
						"type": "nvarchar"
					},
					{
						"name": "TEXT_DESC",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_BY",
						"type": "decimal",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "EFFECTIVE_UNTIL_DT",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ACTIVE_FLG",
						"type": "char"
					},
					{
						"name": "IMPORT_FLG",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "CREDIT_DATA_FAC",
					"table": "CC_CURRENT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableFileTempDetail1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FILE_DTL_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CREATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "LAST_UPD",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LAST_UPD_BY",
						"type": "varchar"
					},
					{
						"name": "FILE_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "FILE_LINE",
						"type": "varchar"
					},
					{
						"name": "STATUS",
						"type": "char"
					},
					{
						"name": "REMARK",
						"type": "varchar"
					},
					{
						"name": "ERROR_MSG",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "CREDIT_DEV",
					"table": "CC_TEMP_FILE_DETAIL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTestBillingTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlBillingDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ROW_ID",
						"type": "varchar"
					},
					{
						"name": "CREATED",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "LAST_UPD",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "LAST_UPD_BY",
						"type": "varchar"
					},
					{
						"name": "ACCNT_NO",
						"type": "varchar"
					},
					{
						"name": "ACCNT_CATEGORY",
						"type": "varchar"
					},
					{
						"name": "ACCNT_SUB_CATEGORY",
						"type": "varchar"
					},
					{
						"name": "BILL_NAME",
						"type": "varchar"
					},
					{
						"name": "BILL_CYCLE",
						"type": "varchar"
					},
					{
						"name": "INVOICING_COMPANY",
						"type": "varchar"
					},
					{
						"name": "PAYMENT_METHOD",
						"type": "varchar"
					},
					{
						"name": "MASTER_ACCNT_ID",
						"type": "varchar"
					},
					{
						"name": "STATUS_CD",
						"type": "varchar"
					},
					{
						"name": "BILLING_STATUS_CD",
						"type": "varchar"
					},
					{
						"name": "REGISTER_DT",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "ARPU",
						"type": "decimal",
						"precision": 22,
						"scale": 7
					},
					{
						"name": "CREDIT_GRADE",
						"type": "decimal",
						"precision": 5,
						"scale": 0
					},
					{
						"name": "DEBT_NEGO_FLG",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "CREDIT",
					"table": "TEST_CC_BILLING"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CCBillingFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalFileServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "Large_CC_BILLING_202204221005.csv",
						"folderPath": "review"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ROW_ID",
						"type": "String"
					},
					{
						"name": "CREATED",
						"type": "String"
					},
					{
						"name": "CREATED_BY",
						"type": "String"
					},
					{
						"name": "LAST_UPD",
						"type": "String"
					},
					{
						"name": "LAST_UPD_BY",
						"type": "String"
					},
					{
						"name": "ACCNT_NO",
						"type": "String"
					},
					{
						"name": "ACCNT_CATEGORY",
						"type": "String"
					},
					{
						"name": "ACCNT_SUB_CATEGORY",
						"type": "String"
					},
					{
						"name": "BILL_NAME",
						"type": "String"
					},
					{
						"name": "BILL_CYCLE",
						"type": "String"
					},
					{
						"name": "INVOICING_COMPANY",
						"type": "String"
					},
					{
						"name": "PAYMENT_METHOD",
						"type": "String"
					},
					{
						"name": "MASTER_ACCNT_ID",
						"type": "String"
					},
					{
						"name": "STATUS_CD",
						"type": "String"
					},
					{
						"name": "BILLING_STATUS_CD",
						"type": "String"
					},
					{
						"name": "REGISTER_DT",
						"type": "String"
					},
					{
						"name": "ARPU",
						"type": "String"
					},
					{
						"name": "CREDIT_GRADE",
						"type": "String"
					},
					{
						"name": "DEBT_NEGO_FLG",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CCLocalFileMasterNotSplit')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalFileServer",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filePath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().filePath",
							"type": "Expression"
						}
					},
					"columnDelimiter": "''",
					"encodingName": "TIS-620",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CCLocalFileMasterPath')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalFileServer",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filePath": {
						"type": "string",
						"defaultValue": "*"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": {
							"value": "@dataset().filePath",
							"type": "Expression"
						}
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CCLocalFileMasterSplitPipe')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalFileServer",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filePath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().filePath",
							"type": "Expression"
						}
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CCLocalFileToWrite')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalFileServer",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filePath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().filePath",
							"type": "Expression"
						}
					},
					"columnDelimiter": "|",
					"escapeChar": "",
					"firstRowAsHeader": false,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CCResReviewTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BA_NO",
						"type": "varchar"
					},
					{
						"name": "FLAG",
						"type": "varchar"
					},
					{
						"name": "DATE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "cc_res_review"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CCTableFileTempDetail')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FILE_DTL_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CREATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "LAST_UPD",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LAST_UPD_BY",
						"type": "varchar"
					},
					{
						"name": "FILE_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "FILE_LINE",
						"type": "varchar"
					},
					{
						"name": "STATUS",
						"type": "char"
					},
					{
						"name": "REMARK",
						"type": "varchar"
					},
					{
						"name": "ERROR_MSG",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "CREDIT_DEV",
					"table": "CC_TEMP_FILE_DETAIL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CCTableFileTempDetailSchemaUAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FILE_DTL_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CREATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "LAST_UPD",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LAST_UPD_BY",
						"type": "varchar"
					},
					{
						"name": "FILE_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "FILE_LINE",
						"type": "varchar"
					},
					{
						"name": "STATUS",
						"type": "char"
					},
					{
						"name": "REMARK",
						"type": "varchar"
					},
					{
						"name": "ERROR_MSG",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "CREDIT_UAT",
					"table": "CC_TEMP_FILE_DETAIL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CC_DatasetChangeCatSubcatHist')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CHANGE_HIST_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CREATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "LAST_UPD",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LAST_UPD_BY",
						"type": "varchar"
					},
					{
						"name": "CHANGE_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "BILLING_ACCNT_ID",
						"type": "varchar"
					},
					{
						"name": "BILLING_ACCNT_NO",
						"type": "varchar"
					},
					{
						"name": "NEW_ACCNT_SUB_CAT",
						"type": "varchar"
					},
					{
						"name": "OLD_ACCNT_SUB_CAT",
						"type": "varchar"
					},
					{
						"name": "PROFILE_CHANGE_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PROFILE_CHANGE_ROWID",
						"type": "varchar"
					},
					{
						"name": "MAIL_PERIOD",
						"type": "decimal",
						"precision": 2,
						"scale": 0
					},
					{
						"name": "SET_CL_STATUS",
						"type": "varchar"
					},
					{
						"name": "PREV_SET_CL_STATUS",
						"type": "varchar"
					},
					{
						"name": "AVAILABLE_CL",
						"type": "decimal",
						"precision": 22,
						"scale": 2
					},
					{
						"name": "CHANGE_REASON",
						"type": "varchar"
					},
					{
						"name": "REF_REQ_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "STATUS",
						"type": "char"
					},
					{
						"name": "REMARK",
						"type": "varchar"
					},
					{
						"name": "ERROR_MSG",
						"type": "varchar"
					},
					{
						"name": "REGISTER_DT",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "NEW_ACCNT_CAT",
						"type": "varchar"
					},
					{
						"name": "ACCNT_ID",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "CREDIT_DEV",
					"table": "CC_CHANGE_CAT_SUBCAT_HIST"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CC_DatasetChangeCatSubcatHistUAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CHANGE_HIST_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CREATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "LAST_UPD",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LAST_UPD_BY",
						"type": "varchar"
					},
					{
						"name": "CHANGE_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ACCNT_ID",
						"type": "varchar"
					},
					{
						"name": "BILLING_ACCNT_ID",
						"type": "varchar"
					},
					{
						"name": "BILLING_ACCNT_NO",
						"type": "varchar"
					},
					{
						"name": "REGISTER_DT",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "NEW_ACCNT_CAT",
						"type": "varchar"
					},
					{
						"name": "NEW_ACCNT_SUB_CAT",
						"type": "varchar"
					},
					{
						"name": "OLD_ACCNT_SUB_CAT",
						"type": "varchar"
					},
					{
						"name": "PROFILE_CHANGE_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PROFILE_CHANGE_ROWID",
						"type": "varchar"
					},
					{
						"name": "MAIL_PERIOD",
						"type": "decimal",
						"precision": 2,
						"scale": 0
					},
					{
						"name": "SET_CL_STATUS",
						"type": "varchar"
					},
					{
						"name": "PREV_SET_CL_STATUS",
						"type": "varchar"
					},
					{
						"name": "AVAILABLE_CL",
						"type": "decimal",
						"precision": 22,
						"scale": 2
					},
					{
						"name": "CHANGE_REASON",
						"type": "varchar"
					},
					{
						"name": "REF_REQ_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "STATUS",
						"type": "char"
					},
					{
						"name": "REMARK",
						"type": "varchar"
					},
					{
						"name": "ERROR_MSG",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "CREDIT_UAT",
					"table": "CC_CHANGE_CAT_SUBCAT_HIST"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CC_DatasetTableBillingReviewSchemaDataFac')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DATA_HIST_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CREATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "LAST_UPD",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LAST_UPD_BY",
						"type": "varchar"
					},
					{
						"name": "DATA_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "STATUS",
						"type": "char"
					},
					{
						"name": "DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "ERROR_MSG",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "CREDIT_DATA_FAC",
					"table": "CC_BILLING_REVIEW"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CC_LocalFileJson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalFileServer",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filePath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().filePath",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CC_TableDynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Schema": {
						"type": "string"
					},
					"Table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ROW_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "REF_ROW_ID",
						"type": "varchar"
					},
					{
						"name": "CREATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "LAST_UPD",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LAST_UPD_BY",
						"type": "varchar"
					},
					{
						"name": "ACCNT_ID",
						"type": "varchar"
					},
					{
						"name": "BILLING_ACCNT_ID",
						"type": "varchar"
					},
					{
						"name": "ACCNT_NO",
						"type": "varchar"
					},
					{
						"name": "CL_LEVEL",
						"type": "varchar"
					},
					{
						"name": "SCORE_RANGE",
						"type": "varchar"
					},
					{
						"name": "CL_TYPE",
						"type": "varchar"
					},
					{
						"name": "CL_CHANGE_REASON",
						"type": "varchar"
					},
					{
						"name": "OUTCOME_CD",
						"type": "varchar"
					},
					{
						"name": "OUTCOME_REASON",
						"type": "varchar"
					},
					{
						"name": "CREDIT_LIMIT",
						"type": "decimal",
						"precision": 22,
						"scale": 7
					},
					{
						"name": "PERM_CREDIT_LIMIT",
						"type": "decimal",
						"precision": 22,
						"scale": 7
					},
					{
						"name": "TEMP_CREDIT_LIMIT",
						"type": "decimal",
						"precision": 22,
						"scale": 7
					},
					{
						"name": "PREV_CREDIT_LIMIT",
						"type": "decimal",
						"precision": 22,
						"scale": 7
					},
					{
						"name": "PREV_SCORE_RANGE",
						"type": "varchar"
					},
					{
						"name": "ACTUAL",
						"type": "decimal",
						"precision": 22,
						"scale": 7
					},
					{
						"name": "ACTUAL_PERM",
						"type": "decimal",
						"precision": 22,
						"scale": 7
					},
					{
						"name": "BILLING_CREDIT_LIMIT",
						"type": "decimal",
						"precision": 22,
						"scale": 7
					},
					{
						"name": "BILLING_THRESHOLD_SET_ID",
						"type": "decimal",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "FBB_FLAG",
						"type": "char"
					},
					{
						"name": "LAST_REVIEW_DAT",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "MIN_REVIEW",
						"type": "decimal",
						"precision": 22,
						"scale": 7
					},
					{
						"name": "AVAILABLE_CREDIT",
						"type": "decimal",
						"precision": 22,
						"scale": 7
					},
					{
						"name": "PAYMENT_FLG",
						"type": "char"
					},
					{
						"name": "BA_REGISTER_DT",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().Schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().Table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "RES_Review_Credit_Limit_20220225_141502.dat",
						"folderPath": "demo",
						"container": "credit-control"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DemoBillingCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DemoBillingFileServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "CC_BILLING_202204221005.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ROW_ID",
						"type": "String"
					},
					{
						"name": "CREATED",
						"type": "String"
					},
					{
						"name": "CREATED_BY",
						"type": "String"
					},
					{
						"name": "LAST_UPD",
						"type": "String"
					},
					{
						"name": "LAST_UPD_BY",
						"type": "String"
					},
					{
						"name": "ACCNT_NO",
						"type": "String"
					},
					{
						"name": "ACCNT_CATEGORY",
						"type": "String"
					},
					{
						"name": "ACCNT_SUB_CATEGORY",
						"type": "String"
					},
					{
						"name": "BILL_NAME",
						"type": "String"
					},
					{
						"name": "BILL_CYCLE",
						"type": "String"
					},
					{
						"name": "INVOICING_COMPANY",
						"type": "String"
					},
					{
						"name": "PAYMENT_METHOD",
						"type": "String"
					},
					{
						"name": "MASTER_ACCNT_ID",
						"type": "String"
					},
					{
						"name": "STATUS_CD",
						"type": "String"
					},
					{
						"name": "BILLING_STATUS_CD",
						"type": "String"
					},
					{
						"name": "REGISTER_DT",
						"type": "String"
					},
					{
						"name": "ARPU",
						"type": "String"
					},
					{
						"name": "CREDIT_GRADE",
						"type": "String"
					},
					{
						"name": "DEBT_NEGO_FLG",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}